# Ignore by default
/.quarto/
/_site/
/site_libs/

# Ignore for now, unignore if making github actions version.
/_freeze/

# Partway knitted files, caches
*.knit.md
*_cache/
*_files*
!/_files/
*lock*

/research/

/drafts/
README.md
TODO.md
